
@{
    ViewBag.Title = "WeatherJS";
}

<h2>Weather Forecast</h2>

<strong>City :</strong><input id="txtCity" type="text" />
<br/>
<br/>

City :<p id="name"></p>
Temperature in &deg; F:<p id="temp"></p>
Humidity :<p id="humidity"></p>
Wind-Speed :<p id="wind"></p>

<button>Weather Details</button>

<script>
    $(document).ready(function () {
        $("button").click(function () {
            var cityname = $("#txtCity").val();

            var url = "http://api.openweathermap.org/data/2.5/weather?q=" + cityname + "&appid=b46dac9ab9628ac1264c3d5069620236&units=imperial";

            $.get(url, function (response) {
                //response
                console.log(response);
                $("#name").text(response.name);
                $("#temp").text(response.main.temp);
                $("#humidity").text(response.main.humidity);
                $("#wind").text(response.wind.speed);
            });
        });
    });
</script>
